@use '../../../assets/styles/media' as media;

.button {
    --hover-bg-color: var(--color-primary);
    --hover-text-color: var(--color-light);

    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 5px;

    color: var(--color-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-decoration: none;

    &.fullfilled {
        --hover-bg-color: transparent;
        --hover-text-color: var(--color-primary);

        background-color: var(--color-primary);
        color: var(--color-light);
    }

    @include media.hover {
        background-color: var(--hover-bg-color);
        color: var(--hover-text-color);
    }
}
